
[Unit]
Description=ASF Selfserve Portal

[Service]
Type=simple
WorkingDirectory=/opt/selfserve-portal/server/
ExecStart=/usr/local/bin/pipenv run python3 -m hypercorn server:application
Restart=always
User=www-data
Group=www-data

[Install]
WantedBy=multi-user.target
